<header>
  <div class="header-top">
    <img src="/img/logo_v1.png" alt="Логотип" class="logo" width="200">
    <h1 class='logo-text'>Магазин музыкальных инструментов</h1>
    <img src="/img/logo_v3.png" alt="Логотип" class="logo" width="200">
  </div>

  {{> navbar}}
</header>