<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>О нас</title>
  </head>

  <body>
    <header>
      <h1>Сайт Музыкальных инструментов</h1>
      <nav>
        <p>Тут будет навигация</p>
        <ul>
          <li><a href='/'>Главная</a></li>
          <li><a href='/add'>Добавить товар</a></li>
          <li><a href='/about'>Контакты</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <div>
            <h2>Катергории</h2>
          </div>
          <div>
            <h2>Производители</h2>
          </div>
        </section>
        <section>
          <h2>Контакты</h2>
        </section>
      </article>
    </main>
    <footer>
      <h3>Тут будет футер</h3>
    </footer>
  </body>

</html>