<body>
  <header>
    <h1>Сайт Музыкальных инструментов</h1>
    {{> navbar}}
  </header>
  <main>
    <article>
      <section>
        <div>
          <h2>Катергории</h2>
        </div>
        <div>
          <h2>Производители</h2>
        </div>
      </section>
      <section>
        <h2>Каталог товаров</h2>
      </section>
    </article>
  </main>
  <footer>
    <h3>Тут будет футер</h3>
  </footer>
</body>