
  {{> header}}
  <main>
    <article>
      <article class="main-block">
      <section class="main-left-block">
        <div>
          <h2>Катергории</h2>
        </div>
        <div>
          <h2>Производители</h2>
        </div>
      </section>
      <section class="main-right-block">
        <h2>Контакты</h2>
      </section>
    </article>
  </main>
  <footer>
    <h3>Тут будет футер</h3>
  </footer>
</body>