h1 {
  width: 20px;
}

h2 {
  width: 16px;
}

.nav-wrapper {
  padding: 0 2rem;
}

.main-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 860px;
}

.main-left-block {
  width: 30%;
}

.main-right-block {
  width: 65%;
  padding-left: 30%;
}
